# Database Configuration
DATABASE_URL=

# Application Configuration
PORT=
SECRET=

# Cookie Configuration
COOKIE_DOMAIN=
COOKIE_SAME_SITE=
COOKIE_SECURE=

# All Secrets
AUTH_SECRET=
CSRF_SECRET=
CRYPTO_SECRET=

# CORS Configuration
ORIGIN_URL=
API_URL=
APP_URL=

# Google Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=